<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="login-page.component.scss">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">BELÉPÉS</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Felhasználónév</span>
            <input type="text" placeholder="Felhasználónév" required>
          </div>
          <div class="input-box">
            <span class="details">Jelszó</span>
            <input type="text" placeholder="Jelszó" required>
          </div>

        </div>

        <div class="button">
          <input type="submit" value="BELÉPEK">
        </div>
        <div>
          <p>Még nem regisztráltál? </p>
        </div>
        <div class="button">
          <input type="button" onclick="window.location.href='/register'" value="REGISZTRÁLOK" />
        </div>
      </form>
    </div>
  </div>

</body>
</html>
