@import "/src/styles/colors";

img {
  height: 15vw;
}

.row > * {
  padding-right: 0.5vw !important;
  padding-left: 0.5vw !important;
}

.ingredient-container {
  margin: 2vw 17vw 0 17vw;
}

.ingredient-property {
  margin: 1vw 0 0 0;
  background-color: $secondary;
}

.ingredient-property,
.ingredient-title {
  color: $text;
  letter-spacing: 0.3vw;
}

.function-names {
  font-size: 0.8vw;
}

.info-button-container {
  margin-top: 1vw;

  button {
    width: 100%;
    background: $primary;
    color: $secondary;
    border: none;
  }
}

.rating-number-label {
  display: inline;
  font-size: 0.8vw;
  letter-spacing: normal;
  color: $text;
  padding: 0;
  margin: 0;
}

.rating-number {
  color: $primary;
  font-weight: bold;
}

.icon-container {
  position: relative;
}

.fa-info-circle {
  cursor: pointer;

  &:hover + .info-box {
    opacity: 1;
    z-index: 1;
    transform: translate3d(0, 0.25vw, 0);
    transition: transform 0.2s ease-in-out, z-index 0s ease-in-out 0.2s,
      opacity 0.3s ease-in-out 0.2s;
  }

  &:not(:hover) + .info-box {
    opacity: 0;
    z-index: -1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-in-out, z-index 0s ease-in-out 0.2s,
      opacity 0.3s ease-in-out;
  }
}

.info-box {
  top: -5.5vw;
  left: 1vw;
  width: 30vw;
  height: 6vw;
  opacity: 0;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate3d(0, 0, 0);
  background: $secondary;
  color: $text;
  padding: 0.75vw;
  padding-bottom: 0;
  margin: 0;
  border: 0.1vw solid $primary;
  line-height: normal;
  border-radius: 0.5vw 0.5vw 0.5vw 0;
  font-size: 0.8vw;
  letter-spacing: normal;
  text-align: justify;
}

.icon-container {
  position: relative;
}

.fa-info-circle {
  cursor: pointer;
}
