<div class="page-container">
  <h1 class="vw-90">MÁRKÁK ABC SZERINT</h1>
  <div class="letter-panel">
    <div class="d-flex vw-90 justify-content-start">
      <div
        class="col text-center letter-container"
        *ngFor="let letter of alphabetLetters"
        [routerLink]="['/brands/catalog', pageAction, letter]"
        routerLinkActive="letter-active"
      >
        <a>{{ letter }}</a>
      </div>
    </div>
    <div class="divider"></div>
  </div>
  <div class="row vw-90">
    <div class="col-3 col-sm-6 row letter-row">
      <div class="row">
        <div
          class="col"
          [ngClass]="{ 'col-10': pageAction !== PageAction.Read }"
        >
          <p class="letter-initial">{{ activeLetter }}</p>
        </div>
        <div
          class="col-2 row delete-button-container"
          *ngIf="pageAction === PageAction.Delete"
        ></div>
      </div>
    </div>
  </div>

  <div class="row vw-90">
    <div
      class="col-lg-3 col-sm-6 row brand-name-row px-4 py-2"
      *ngFor="let brand of brandList"
    >
      <div class="brand row">
        <div
          class="col brand-name text-center"
          [ngClass]="{ 'col-10': pageAction !== PageAction.Read }"
          [routerLink]="['/brands/details', brand.id]"
        >
          <a>{{ brand.name }}</a>
        </div>
        <div
          *ngIf="pageAction === PageAction.Update"
          class="col-2 row action-button-container"
        >
          <button
            class="action-button"
            [routerLink]="['/brands/form', PageAction.Update, brand.id]"
          >
            <i class="fa-solid fa-pen"></i>
          </button>
        </div>
        <div
          *ngIf="pageAction === PageAction.Delete"
          class="col-2 row action-button-container"
        >
          <button class="action-button" (click)="onDelete(brand.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
