<h1>ANYAKÖZÖSSÉG - NEKÜNK SZÁMÍT A VÉLEMÉNYED!</h1>
<div class="row justify-content-around">
  <div class="col-6 col-sm-3 card-item">
    <div class="card">
      <div class="card-block">
        <img src="assets/card_szepsegapolas.jpg" alt="" />
        <h4 class="card-title">SZÉPSÉGÁPOLÁS</h4>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-3 card-item">
    <div class="card">
      <div class="card-block">
        <img src="assets/card_haztartas.jpg" alt="" />
        <h4 class="card-title">HÁZTARTÁS</h4>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-3 card-item">
    <div class="card">
      <div class="card-block">
        <img src="assets/card_bio_termekek.jpg" alt="" />
        <h4 class="card-title">BIO TERMÉKEK</h4>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-3 card-item">
    <div class="card">
      <div class="card-block">
        <img src="assets/card_etrend_kiegeszitok.jpg" alt="" />
        <h4 class="card-title">ÉTREND-KIEGÉSZÍTŐK</h4>
      </div>
    </div>
  </div>
</div>
