<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="reg-page.component.scss">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">REGISZTRÁCIÓ</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Teljes név</span>
            <input type="text" placeholder="Teljes név" required>
          </div>
          <div class="input-box">
            <span class="details">Felhasználónév</span>
            <input type="text" placeholder="Válassz egy felhasználónevet!" required>
          </div>
          <div class="input-box">
            <span class="details">E-mail cím</span>
            <input type="text" placeholder="E-mail cím" required>
          </div>
          <div class="input-box">
            <span class="details">Születési idő</span>
            <input type="date" placeholder="Születési idő" required>
          </div>
          <div class="input-box">
            <span class="details">Jelszó</span>
            <input type="text" placeholder="Jelszó" required>
          </div>
          <div class="input-box">
            <span class="details">Jelszó megerősítése</span>
            <input type="text" placeholder="Jelszó megerősítése" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <span class="gender-title">Nem</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Nő</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Férfi</span>
          </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="REGISZTRÁLOK">
        </div>
        <div>
          <p>Már regisztráltál? </p>
        </div>
        <div class="button">
          <input type="button" onclick="window.location.href='/login'" value="BELÉPEK" />
        </div>
      </form>
    </div>
  </div>

</body>
</html>
