
<div class="form-container text-center row justify-content-center">
  <form #loginForm="ngForm" class="col-sm-6 col-10 page-form">
    <h1 class="form-title">BELÉPÉS</h1>

    <div class="row align-itmes-center">
      <div class="col-6 text-end">
        <label class="form-label">Felhasználónév:</label>
      </div>
      <div class="col-6 text-start">
        <input
          type="text"
          [(ngModel)]="user.username"
          required
          name="username"
        />
      </div>
    </div>

    <div class="row align-itmes-center">
      <div class="col-6 text-end">
        <label class="form-label">Jelszó:</label>
      </div>
      <div class="col-6 text-start">
        <input
          type="password"
          [(ngModel)]="user.password"
          required
          name="password"
        />
      </div>
    </div>


    <div>
      <button
        class="add-new-button col-4"
        [routerLink]="['/login']"
      >
        BELÉPEK
      </button>
    </div>

    <div>
      <button
        class="add-new-button col-4"
        [disabled]="loginForm.form.invalid"
        [ngClass]="{ 'btn-disabled': loginForm.form.invalid }"
        (click)="register()"
      >
        REGISZTRÁLOK
      </button>
    </div>
  </form>
</div>
