@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

h5 {
  margin: 0 !important;
}

$base-color: $primary !important;

$disable-background-color: #eceeef;
.multiselect-dropdown {
  position: relative;
  width: 100%;
  font-size: 1vw !important;
  font-family: "Montserrat", sans-serif !important;
  .dropdown-btn {
    display: inline-block;
    border: none !important;
    width: 100%;
    padding: 0.2vw 0.5vw !important;
    padding-right: 2.5vw !important;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 0 !important;
    .selected-item {
      border: 1px solid $base-color;
      margin: 0.1vw !important;
      background: $base-color;
      padding: 0 0.3vw !important;
      color: #fff;
      border-radius: 0.1vw !important;
      float: left;
      a {
        text-decoration: none;
      }
    }
    .selected-item:hover {
      box-shadow: 1px 1px #959595;
    }
    .dropdown-down {
      display: inline-block;
      top: 10px;
      width: 0;
      height: 0;
      border-top: 10px solid #adadad;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    .dropdown-up {
      display: inline-block;
      width: 0;
      height: 0;
      border-bottom: 10px solid #adadad;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    .dropdown-multiselect__caret:before {
      top: 0.3vw !important;
      margin: 0 !important;
      display: block !important;
    }
  }
  .disabled {
    & > span {
      background-color: $disable-background-color;
    }
  }
}

.dropdown-list {
  position: absolute;
  padding-top: 0 !important;
  width: 100%;
  z-index: 99 !important;
  border: 1px solid #ccc;
  border-radius: 0 0 0.2vw 0.2vw !important;
  background: #fff;
  margin-top: 0.2vw !important;
  box-shadow: 0px 1px 5px #959595;
  ul {
    padding: 0px;
    list-style: none;
    overflow: auto;
    margin: 0px;
  }
  li {
    padding: 0.2vw 0.5vw !important;
    cursor: pointer;
    text-align: left;
  }
  .filter-textbox {
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 0.5vw !important;
    input {
      border: 0px;
      width: 100%;
      padding: 0px 0px 0px 1.5vw !important;
    }
    input:focus {
      outline: none;
    }
  }
}

.multiselect-item-checkbox input[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.1vw !important;
  margin: -0.1vw !important;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1vw !important;
}

.multiselect-item-checkbox input[type="checkbox"]:focus + div:before,
.multiselect-item-checkbox input[type="checkbox"]:hover + div:before {
  border-color: $base-color;
  background-color: #f2f2f2;
}

.multiselect-item-checkbox input[type="checkbox"]:active + div:before {
  transition-duration: 0s;
}

.multiselect-item-checkbox input[type="checkbox"] + div {
  position: relative;
  padding-left: 1.5vw !important;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  margin: 0px;
  color: $text !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div:before {
  box-sizing: content-box;
  content: "";
  color: $base-color;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.7vw !important;
  height: 0.7vw !important;
  margin-top: -0.45vw !important;
  border: 0.1vw solid $primary !important;
  text-align: center;
  transition: all 0.4s ease;
}

.multiselect-item-checkbox input[type="checkbox"] + div:after {
  box-sizing: content-box;
  content: "";
  background-color: $base-color;
  position: absolute;
  top: 50%;
  left: 0.18vw !important;
  width: 0.4vw !important;
  height: 0.2vw !important;
  margin-top: -0.25vw !important;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}

.multiselect-item-checkbox input[type="checkbox"]:disabled + div:before {
  border-color: #cccccc;
}

.multiselect-item-checkbox
  input[type="checkbox"]:disabled:focus
  + div:before
  .multiselect-item-checkbox
  input[type="checkbox"]:disabled:hover
  + div:before {
  background-color: inherit;
}

.multiselect-item-checkbox
  input[type="checkbox"]:disabled:checked
  + div:before {
  background-color: #cccccc;
}

.multiselect-item-checkbox input[type="checkbox"] + div:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 3px;
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 0.13vw 0.13vw !important;
  border-image: none;
  transform: rotate(-45deg) scale(0);
}

.multiselect-item-checkbox input[type="checkbox"]:checked + div:after {
  content: "";
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}

.multiselect-item-checkbox input[type="checkbox"]:checked + div:before {
  animation: borderscale 200ms ease-in;
  background: $base-color;
}

.multiselect-item-checkbox input[type="checkbox"]:checked + div:after {
  transform: rotate(-45deg) scale(1);
}

.dropdown-multiselect__caret {
  padding: 0 !important;
  margin: 0 !important;
  width: auto !important;
  height: 1vw !important;
  top: 0.5vw !important;
  right: 1vw !important;
  &:before {
    border-width: 0.35vw 0.35vw 0 !important;
    border-color: $text transparent !important;
  }
}

// Remove checkbox if singleselect class is used on the component
.singleselect .multiselect-item-checkbox {
  padding: 0px !important;
}
.singleselect input[type="checkbox"] + div:before {
  display: none;
}

.singleselect input[type="checkbox"] + div:after {
  display: none;
}

.singleselect input[type="checkbox"] + div {
  padding: 0.2vw 0.5vw !important;
}

.singleselect input[type="checkbox"]:checked + div {
  background-color: $primary !important;
  color: $secondary !important;
}

.singleselect input[type="checkbox"] + div:hover {
  background-color: $primary !important;
  color: $secondary !important;
}

.singleselect .multiselect-dropdown .dropdown-btn .selected-item {
  pointer-events: none !important;
  border: none !important;
  background: transparent !important;
  color: $text !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgrey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $text;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $text;
}

@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px $base-color;
  }
}
