<div class="page-container">
  <h1 class="vw-90">ÖSSZETEVŐK ABC SZERINT</h1>
  <div class="letter-panel">
    <div class="d-flex vw-90 justify-content-start">
      <div
        class="col text-center letter-container"
        *ngFor="let letter of alphabetLetters"
        [routerLink]="['/ingredients/catalog', pageAction, letter]"
        routerLinkActive="letter-active"
      >
        <a>{{ letter }}</a>
      </div>
    </div>
    <div class="divider"></div>
  </div>

  <app-ingredient-list
    [ingredientList]="ingredientList"
    [pageAction]="pageAction"
    [onDelete]="onDelete"
  ></app-ingredient-list>
</div>
