<div class="brand-container" *ngIf="brand$ | async as brand">
  <div class="row">
    <div class="col-4 mx-auto text-center brand-logo">
      <img [src]="brand.imageFile" alt="" />
    </div>
    <div class="col-8 text-center">
      <div class="brand-title">
        {{ brand.name }}
      </div>
      <div class="brand-property row">
        <div class="col-8 text-start">ÁRKATEGÓRIA</div>
        <div class="col-4 text-end">
          {{ brand.priceCategory.name }}
        </div>
      </div>
      <div class="brand-property row">
        <div class="col-8 text-start">CRUELTY FREE</div>
        <div class="col-4 text-end">
          {{ brand.isCrueltyFree.name }}
        </div>
      </div>
      <div class="brand-property row">
        <div class="col-8 text-start">VEGAN</div>
        <div class="col-4 text-end">
          {{ brand.isVegan.name }}
        </div>
      </div>
      <div class="brand-property row">
        <div class="col-8 text-start">ÖSSZESÍTETT ÉRTÉKELÉS</div>
        <div class="col-4 text-start rating-stars">
          <app-rating
            class="app-rating"
            [disabled]="true"
            [defaultRating]="brand.overallRating"
          >
          </app-rating>
          <div class="info-box">
            <p class="rating-number-label" *ngIf="brand.overallRating">
              Összesített értékelés:
              <span class="rating-number">{{
                brand.overallRating | number : "1.1-2"
              }}</span>
            </p>
          </div>
          <app-badge-icon
            [numberToShow]="brand.numberOfRatings!"
            [borderColor]="'$secondary'"
          ></app-badge-icon>
        </div>
      </div>
    </div>
  </div>
</div>
