<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="title">ANYAKÖZÖSSÉG</h1>
        <p class="text">
          A weboldal az édesanyák által leggyakrabban használt kozmetikai és
          háztartási cikkek adatbázisa, amelyben megtalálhatók a termék
          tulajdonságai és a felhasználók megoszthatják a tapasztalataikat.
          Célja az, hogy tudatosabb vásárlásra sarkallja a fogyasztóit a könynen
          átlátható és kereshető értékelő felület segítségével, segítse az
          esetleges allergiákkal, érzékenységgel együtt élőket.
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img
          src="assets/img/about-us/community.png"
          alt="community"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row h-50 align-items-center py-5">
    <div class="col-lg-4 mx-auto">
      <img
        src="assets/img/about-us/review.png"
        alt="review"
        class="img-fluid"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="title">OLVASS VÉLEMÉNYEKET</h1>
      <p class="text">
        Álltál már tanácstalanul a boltban két termékkel a kezedben, mert nem
        tudtad eldöntenteni, hogy melyiket vásárold meg? Volt már, hogy egy
        termékhez nagy reményeket fűztél, de kipróbálva csalódás volt? Itt az
        ideje, hogy biztosra menj! Weboldlaunkon több száz termékről olvashatsz
        őszint, elfogulatlan, valódi felhasználóktól származó véleményeket.
        Használd a keresőt, vagy kattints, és keresd meg a téged érdeklő
        termékeket.
      </p>
      <button class="button" [routerLink]="['/products']">TERMÉKEK</button>
    </div>
  </div>
</div>

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-60 align-items-center py-5">
      <div class="col-lg-6">
        <h2 class="title">ISMERD MEG AZ ÖSSZETEVŐKET</h2>
        <p class="text">
          Ételérzékenységgel vagy allergiával küzdesz, így sok idő megy el a
          termékcimkék bújásával? Szeretnéd tudni, egyes összetevőknek mi a
          funkciója, esetleg kifejezetten az adott összetevőről érdekelnek az
          olyan részletek, mint komedogén index vagy EWG kockázat? Kattints, és
          tekintsd meg az összetevők listáját.
        </p>
        <button class="button" [routerLink]="['/ingredients']">
          ÖSSZETEVŐK
        </button>
      </div>
      <div class="col-lg-4 mx-auto order-1 order-lg-2">
        <img
          src="assets/img/about-us/ingredients.png"
          alt="ingredients"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row h-100 align-items-center py-5">
    <div class="col-lg-4 mx-auto">
      <img src="assets/img/about-us/list.png" alt="lists" class="img-fluid" />
    </div>
    <div class="col-lg-6">
      <h1 class="title">
        TERMÉKEK, ÖSSZETEVŐK, MÁRKÁK - TUDJ MEG RÓLUK MINDENT!
      </h1>
      <p class="text">
        A termékek és összetevők mellett a márkákról is érdekes információkat
        tudhatsz meg, legyen szó akár az árkategóriáról, vagy a márka
        legnépszerűbb termékeiről. Kattinst, és megtudhatod, hogy kedvenc márkát
        folytat-e állatkísérleteket vagy vegán formulákkal dolgozik-e, és még
        sok minden mást is!
      </p>
      <button class="button" [routerLink]="['/brands']">MÁRKÁK</button>
      <br />
      <br />
      <br />
    </div>

    <h1 class="title">AZ ANYAKÖZÖSSÉG WEBOLDALT MEGÁLMODTA:</h1>
    <div class="container py-5">
      <div class="row text-center">
        <div class="col-xl-6 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5">
            <img
              src="/assets/img/about-us/cat2.jpg"
              alt=""
              width="200 vw"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
            />
            <h1 class="title">Bernhardt Dorottya</h1>
            <span class="text">Co Founder <br /></span>
            <br />
            <p>
              Ha azt tartod, hogy elveszett vagy, akkor el is vesztél. Ha azt
              hiszed, hogy nem mered megtenni, akkor nem is mered majd megtenni.
              Ha nyerni szeretnél, de úgy véled, nem tudsz nyerni, majdnem
              lehetetlen, hogy sikerüljön. Ha azt tartod, hogy veszíteni fogsz,
              veszítettél. Mert odakinn a világban látni fogod, hogy a siker az
              ember akaratával kezdődik.
            </p>
          </div>
        </div>

        <div class="col-xl-6 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5">
            <img
              src="/assets/img/about-us/cat1.png"
              alt=""
              width="200 vw"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
            />
            <h1 class="title">Palotai Hanga</h1>
            <span class="text">Co Founder <br /></span>
            <br />
            <p>
              Ha azt tartod, hogy elveszett vagy, akkor el is vesztél. Ha azt
              hiszed, hogy nem mered megtenni, akkor nem is mered majd megtenni.
              Ha nyerni szeretnél, de úgy véled, nem tudsz nyerni, majdnem
              lehetetlen, hogy sikerüljön. Ha azt tartod, hogy veszíteni fogsz,
              veszítettél. Mert odakinn a világban látni fogod, hogy a siker az
              ember akaratával kezdődik.
            </p>
          </div>
        </div>
      </div>
    </div>
    <h1 class="title">VEDD FEL VELÜNK A KAPCSOLATOT!</h1>
  </div>

  <div class="contact">
    <div class="container py-5">
      <div class="row align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="title">NEKÜNK SZÁMÍT A VÉLEMÉNYED!</h1>
          <p class="text">
            Ha észrevételed, kérdésed vagy kérésed merülne fel oldalunk
            használatával kapcsolatosan, akkor nyugodtan keress minket a
            megadott elérhetőségeink egyikén!
          </p>
          <div class="icon">
            <a href="tel:+4733378901"
              ><i class="fa fa-phone" aria-hidden="true"></i
            ></a>
            <span> + 36 30 546 76 56</span>
            <br />
            <a href="mailto:info@anyakozosseg.com"
              ><i class="fa fa-envelope" aria-hidden="true"></i
            ></a>
            <span> info@anyakozosseg.hu</span>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
          <div class="col-lg-6 mx-auto">
            <img
              src="assets/img/about-us/contact.png"
              alt="lists"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <footer class="text">
    <div class="container text-center">
      <p class="font-italic text-muted mb-0">
        &copy; 2023 www.anyakozosseg.hu Minden jog fenntartva.
      </p>
    </div>
  </footer>
</div>
