@import "/src/styles/colors";

.title {
  font-size: 2vw;
  color: $text;
  font-weight: 300;
}

.text {
  font-size: 1.4vw;
  color: $text;
  font-weight: 200;
}

.button {
  border: none;
  background-color: $primary;
  color: $secondary;
  letter-spacing: 0.5vw;
  padding: 0.5vw 1.5vw 0.5vw 1.5vw;
  margin-top: 3vw;
}
p {
  font-size: 1.2vw;
  color: $text;
  font-weight: 200;
}

.contact {
  background-color: $secondary;
  padding-left: 10%;
}
.icon {
  color: $primary;
}
