@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import "/src/styles/colors";

a {
  color: #846345 !important;
  text-decoration: none;
  font-size: 2vw;
  font-weight: 300;
}

.letter-container:hover,
.letter-active {
  cursor: pointer;
  background-color: $secondary;
}

.divider {
  height: 1vw;
  background-color: $primary;
}

.letter-initial {
  color: $primary;
  font-size: 12vw;
  font-family: "Playfair Display", serif;
  line-height: 14vw;
}

.brand-name {
  font-weight: 300;
  font-size: 2vw;
  letter-spacing: 0.3vw;
  color: $text;
  &:hover {
    cursor: pointer;
    background-color: $secondary;
  }
}
