<h1>{{ categoryTitlePart }} FORGALMAZÓ MÁRKÁK ABC SZERINT</h1>
<div class="row justify-content-around">
  <div
    class="col text-center letter-container"
    *ngFor="let letter of alphabetLetters"
    [routerLink]="[
      '/brands/alphabetical-brand-catalog',
      category.name.toLowerCase(),
      letter
    ]"
    [state]="{ id: category.id, name: category.name }"
    routerLinkActive="letter-active"
  >
    <a>{{ letter }}</a>
  </div>
</div>
<div class="divider"></div>

<div class="row">
  <div class="col-2">
    <p class="letter-initial text-center">{{ activeLetter }}</p>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col-2" *ngFor="let brand of brandList">
    <div class="brand-name text-center">
      <a [routerLink]="['/brands/brand-details', brand.id]">{{ brand.name }}</a>
    </div>
  </div>
</div>
