<div class="row justify-content-center">
  <div *ngFor="let product of products" class="col-10 product">
    <div #productContainer class="row product-container">
      <div
        class="col m-0 img-container d-flex justify-content-center align-items-start"
      >
        <img
          [src]="product.imageFile"
          alt=""
          (error)="showDummyProduct($event)"
        />
      </div>
      <div
        class="col-10 product-data"
        [attr.data-icon]="hoverIconClass"
        [ngClass]="{ 'product-data-with-icon': hoverIconClass != '' }"
        (click)="onClick(product)"
      >
        <hr class="bolder-hr" />
        <p class="product-name">{{ product.name }}</p>
        <hr class="bolder-hr" />
        <div class="product-body">
          <div class="rating-data">
            <app-rating
              [disabled]="true"
              [ngModel]="product.avgRating"
              class="rating-stars"
            ></app-rating>
            <p class="rating-number" *ngIf="product.avgRating">
              ({{ product.avgRating | number : "1.1-2" }})
            </p>
            <app-badge-icon
              [numberToShow]="product.numberOfRatings"
            ></app-badge-icon>
          </div>
          <hr />
          <span class="comment-container" *ngIf="product.lastRating">
            <p
              #comment
              class="comment m-0"
              [ngClass]="{ 'comment-full': product.lastRating.showFully }"
            >
              <b> {{ product.lastRating.username }}</b
              >: {{ product.lastRating.comment }}
            </p>
          </span>
        </div>
      </div>
      <span
        *ngIf="product.lastRating && product.lastRating.isEllipsisActive"
        class="show-full-btn text-center"
        (click)="onCommentClick(product.lastRating)"
      >
        <i
          *ngIf="!product.lastRating.showFully"
          class="fas fa-angle-double-down"
          aria-hidden="true"
        ></i>
        <i
          *ngIf="product.lastRating.showFully"
          class="fas fa-angle-double-up"
          aria-hidden="true"
        ></i>
      </span>
    </div>
  </div>
</div>
