<span
  *ngFor="let ratingStep of ratingSteps"
  (click)="onStarClicked(ratingStep)"
  (mouseenter)="onStarHovered(ratingStep)"
  (mouseleave)="onStarLeft(ratingStep)"
  [ngClass]="{ rating: !isDisabled }"
>
  <span *ngIf="ratingStep <= ratingToShow">
    <i class="fa-solid fa-star"></i>
  </span>
  <span
    *ngIf="
      ratingStep === Math.floor(roundToHalf(ratingToShow)) &&
      ratingToShow % 1 !== 0
    "
  >
    <i class="fas fa-star-half-alt"></i>
  </span>
  <span
    *ngIf="
      ratingStep > +ratingToShow + 1 ||
      (ratingToShow % 1 === 0 && ratingStep > ratingToShow)
    "
  >
    <i class="fa-regular fa-star"></i>
  </span>
</span>
