<nav class="navbar navbar-expand-sm bg-light sticky-top">
  <div class="container-fluid p-0">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      #navbar
      class="collapse navbar-collapse navbar justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav list-container row justify-content-around">
        <li
          class="nav-item col-2 pb-0 d-flex brand-icon-container justify-content-center"
        >
          <a class="navbar-brand m-0" [routerLink]="['']"
            ><img
              src="../../../../assets/brand_icon_square.png"
              class="brand-icon"
              alt=""
          /></a>
        </li>

        <li class="nav-item col-2">
          <a
            class="nav-link"
            [routerLink]="['products']"
            routerLinkActive="nav-link-active"
            >TERMÉKEK</a
          >
        </li>

        <li class="nav-item col-2">
          <a
            class="nav-link"
            [routerLink]="['brands']"
            routerLinkActive="nav-link-active"
            >MÁRKÁK</a
          >
        </li>

        <li class="nav-item col-2">
          <a
            class="nav-link"
            [routerLink]="['ingredients']"
            routerLinkActive="nav-link-active"
            >ÖSSZETEVŐK</a
          >
        </li>

        <li class="nav-item col-2">
          <a
            class="nav-link"
            [routerLink]="['forum']"
            routerLinkActive="nav-link-active"
            >FÓRUM</a
          >
        </li>

        <li class="nav-item col-2">
          <!-- <img src="assets/user_transparent.png" class="user-icon" alt="" /> -->
        </li>
      </ul>

      <!-- Search-bar -->
      <div class="row justify-content-around search-bar-container">
        <div class="col-2 nav-item text-end my-auto py-0">
          <button class="btn search-btn" type="submit">KERESÉS</button>
        </div>

        <div class="col-4 nav-item my-auto search-input-container">
          <input class="mr-sm-2 w-100 search-input" type="search" />
        </div>

        <div class="col-4 nav-item"></div>
        <div
          class="col-2 nav-item my-auto login-item"
          [routerLink]="['brands']"
        >
          <div class="nav-item col-2 user-icon-container">
            <i class="fa-solid fa-user user-icon"></i>
          </div>
          BELÉPÉS
        </div>
      </div>
    </div>
  </div>
</nav>
