@import "/src/styles/colors";

.dropdown-button {
  font-size: 1.1vw;
  width: 100%;
  border-radius: 0;
  background-color: white;
  color: $text;
  border: none;
  padding: 0.4vw;
}

.dropdown-menu {
  width: 100%;
  border-radius: 0;
  border-bottom-left-radius: 0.2vw;
  border-bottom-right-radius: 0.2vw;
}

.dropdown-item {
  font-size: 1.1vw;
  color: $text;
  &:hover {
    background-color: $primary;
    color: $secondary;
    cursor: pointer;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $primary;
  color: $secondary;
}
