<div *ngIf="showSidebar" #sidebar>
  <div
    class="sidebar-item-container"
    *ngFor="let item of sidebarItems; let i = index"
    [style.top]="(applyGreaterTopValue ? 70 : 24.5) + i * 3.5 + 'vw'"
  >
    <div
      class="sidebar row justify-content-around align-items-center"
      (click)="item.onClick()"
    >
      <div class="col-12 sidebar-item">
        <p class="p-0 m-0">
          {{ item.label }} &nbsp;
          <i [class]="item.iconClass"></i>
        </p>
      </div>
    </div>
  </div>
</div>
