<div *ngIf="showSidebar" #sidebar>
  <div
    class="sidebar-item-container"
    [ngStyle]="{ top: applyGreaterTopValue ? '70vw' : '24.5vw' }"
  >
    <div class="sidebar row justify-content-around align-items-center">
      <div class="col-12 sidebar-item" [routerLink]="[getAddNewRouterLink()]">
        <p class="p-0 m-0">
          ÚJ {{ menuItemName.toUpperCase() }} HOZZÁADÁSA &nbsp;
          <i class="fa fa-file" aria-hidden="true"></i>
        </p>
      </div>
    </div>
  </div>

  <div
    class="sidebar-item-container"
    [ngStyle]="{ top: applyGreaterTopValue ? '75vw' : '28vw' }"
  >
    <div class="sidebar row justify-content-around align-items-center">
      <div
        class="col-12 sidebar-item"
        [routerLink]="['/brands', PageAction.Delete]"
      >
        <p class="p-0 m-0">
          {{ menuItemName.toUpperCase() }} ELTÁVOLÍTÁSA &nbsp;
          <i class="fa fa-trash" aria-hidden="true"></i>
        </p>
      </div>
    </div>
  </div>
</div>
