<h1>TERMÉKEK KATEGÓRIA SZERINT</h1>
<div class="row justify-content-around">
  <div *ngFor="let category of categories" class="col-6 col-sm-3 card-item">
    <div
      class="card"
      [routerLink]="[
        '/products/catalog',
        pageAction$ | async,
        removeAccents(category.name.toLowerCase()),
        'A'
      ]"
      [state]="{ id: category.id, name: category.name }"
    >
      <div class="card-block">
        <img [src]="category.imagePath" alt="" />
        <h4 class="card-title">{{ category.name }}</h4>
      </div>
    </div>
  </div>
</div>
